language: go

go:
  - 1.12.x

sudo: false

git:
  depth: 10

branches:
  only:
    - master

install:
# Dirty hack to make Travis use full clone
  - cd $HOME
  - rm -rf $TRAVIS_REPO_SLUG
  - git clone https://github.com/$TRAVIS_REPO_SLUG.git $TRAVIS_REPO_SLUG
  - cd $TRAVIS_REPO_SLUG
  - git checkout -qf $TRAVIS_COMMIT
# Workaround used to make sure hugo install won't fail
# https://discourse.gohugo.io/t/govendor-fails-during-build-from-source/8084
#  - go get -u -v github.com/kardianos/govendor
#  - go get -u -v github.com/gohugoio/hugo
#  - (cd $GOPATH/src/github.com/gohugoio/hugo && govendor sync && go install)
  - go get -u -v github.com/kardianos/govendor
  - govendor get github.com/gohugoio/hugo
  - go install github.com/gohugoio/hugo

script:
  - cd $HOME && cd $TRAVIS_REPO_SLUG
  - if [[ $TRAVIS_PULL_REQUEST == 'false' ]];
    then
      git remote set-url origin git@github.com:$TRAVIS_REPO_SLUG.git

      echo "Publishing to gh-pages...";
      openssl aes-256-cbc -K $encrypted_ddc1dd92af8d_key -iv $encrypted_ddc1dd92af8d_iv -in deploy-key.enc -out deploy-key -d;
      chmod 600 deploy-key;
      eval "$(ssh-agent -s)";
      ssh-add deploy-key;
      git config user.name "Travis Update";
      git config user.email "noreply@vcmi.eu";

      echo "Checkout gh-pages at public...";
      git worktree add -B gh-pages public origin/gh-pages;

      cd public;
      git rm -rf *;
      git clean -fd;
      cd ..;

      hugo;
      cd public;
      git add --all;
      git commit -m "Update > ${TRAVIS_COMMIT_MESSAGE}" -m "$TRAVIS_COMMIT";
      cd ..;

      git push origin gh-pages;
    else
      hugo;
    fi

skip_cleanup: true

notifications:
  email:
    recipients:
    - noreply@vcmi.eu
    on_success: change
    on_failure: always
  slack:
    secure: lCOdz0nbDflXqmnloIrMUXA3Rwunyd6OZ9XKXjOz8g8LWPXP0hW2XkF4o+TUpMG7FKyUj5E7GYcen9oH2AdTSJMtkQlRUfMmImInDIv3kF3eEPQLkMvUH3pb/4ShvqpITadt01q8etXVjGUgnxwR2ShOXGWY5UvEbeT1Td2ct+VQ5yQhR/jHZUgQJn6PqCRooXTKSxG7RDaWROpS8kmlvObV/RXor58zkMbFOO7GaIU26hBxHMt7YLRzAYZ/QLxufmVoKsenONUTUEkNyyLNfWBsexS8ayWznreHvl2XacLhi+TZ/5atLnRQfk4B+WDapc+wMsN3GwwRJ+28+FL47YiGT+pIlLMfBwQN+9CaxoCfktqCUN8Pu9Wisj4leR9xgcUhEtbisWRCdQAHwtaQbHzh75uxkBTfUNvrxFvl+w9iiN0a1ijbzMB2J8VouKDWCCQizqxLaoZdIsuvJxC/SFSmjMP1/423wHjOefhrxxVYOQrEuu09yFDpGasnrRlpdu1MY3auVJR1AgeBFKcNSQrB/tYHy3C0t78BJxeePX7eoIGQCTje/G/jRC+cTO2ISpYMeIwzd1kdnjqO9n+C3xaa8FwlHE7I1aWlOPljGqE8nRlDwgysalpfPdbfILVOVv99WC5vp6zmBY7+NENKrsHrlBitV7gG+ChIicMpY44=
