mkdocs==1.6.0
mkdocs-include-dir-to-nav==1.2.0
mkdocs-material==9.5.21
mkdocs-glightbox==0.3.7 # newer versions causes problem (lightbox works only for cached images)
mkdocs-rss-plugin==1.12.2
mdutils==1.6.0
json5==0.9.25
pillow==10.3.0
numpy==1.26.4
