{{ with .Site.Social.facebook }}
<li><a href="//facebook.com/{{.}}" target="_blank" title="Facebook" class="fa fa-facebook fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.twitter }}
<li><a href="//twitter.com/{{.}}" target="_blank" title="Twitter" class="fa fa-twitter fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.googleplus }}
<li><a href="//plus.google.com/+{{.}}" target="_blank" title="Google+" class="fa fa-google-plus fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.youtube }}
<li><a href="//youtube.com/{{.}}" target="_blank" title="YouTube" class="fa fa-youtube fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.reddit }}
<li><a href="//reddit.com/r/{{.}}" target="_blank" title="Reddit" class="fa fa-reddit fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.steam }}
<li><a href="//steamcommunity.com/groups/{{.}}" target="_blank" title="Steam" class="fa fa-steam-square fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.vkontakte }}
<li><a href="//vk.com/{{.}}" target="_blank" title="Vk" class="fa fa-vk fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.email }}
<li><a href="mailto:{{.}}" title="Email" class="fa fa-envelope fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.github }}
<li><a href="//github.com/{{.}}" target="_blank" title="GitHub" class="fa fa-github fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.bitbucket }}
<li><a href="//bitbucket.com/{{.}}" target="_blank" title="Bitbucket" class="fa fa-bitbucket fa-2x"></a></li>
{{ end }}

{{ with .Site.Social.moddb }}
<li><a href="http://www.moddb.com/engines/{{.}}" target="_blank" title="Mod DB" class="fa fa-wrench fa-2x"></a></li>
{{ end }}
